*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-image: url("https://images.pexels.com/photos/135018/pexels-photo-135018.jpeg?cs=srgb&dl=pexels-joshkjack-135018.jpg&fm=jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    transition: background-position 1s ease; /* Smooth transition for background position */
}

html, body{
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.slide {
    display: none;
    height: 100vh;
    width: 100vw;
    padding: 60px;
    background-color: #f5f5f5b6;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.6s ease;
}
.slide h2 {
    font-size: 3em;
    color: #5c3d2e;
    margin-bottom: 20px;
}
.slide p {
    font-size: 1.5em;
    max-width: 800px;
    color: #333;
}
.active {
    display: flex;
}
.nav-buttons {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
}
button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #5c3d2e;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
button:hover {
    background-color: #7b5945;
}

.progress-bar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: #e0e0e0;
  z-index: 1000;
}

.progress-bar {
  height: 100%;
  width: 0;
  background-color: #4caf50;
  transition: width 0.3s ease;
}

.slide-images {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
}

.slide-images img {
  max-width: 16%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}